<app-search [keySearch]="keySearch"></app-search>
<div class="custom">
  <div class="mb-3">Đang hiển thị {{videos.length}} kết quả </div>
  <div><button type="button" class="btn btn-primary" (click)="onClickPage()">
      Hiển thị thêm
    </button></div>
  <select class="input-sort" name="" id="" style="margin-top: 15px;" (change)="getSortName(valueSort.value)" #valueSort>
    <option value="">---Sắp xếp---</option>
    <option value="title">Title</option>
    <option value="publishTime">Thời gian</option>
  </select>

  <select class="input-sort" name="" id="" style="margin-top: 15px; margin-left: 20px;"
    (change)="getArrangement(arrangement.value)" #arrangement>
    <option value="">Kiểu sắp xếp</option>
    <option value="1">Selection sort</option>
    <option value="2">Bubble sort</option>
    <option value="3">Insertion sort</option>
    <option value="4">Quick sort</option>
  </select>
  <button type="button" style="margin-bottom: 5px" class="ml-5 btn btn-primary" (click)="sort()">
    Sắp xếp
  </button>
</div>
<div class="item-video" *ngFor="let item of videos">
  <div class="row custom-video" style="cursor: pointer" (click)="onClickItem(item)">
    <div class="col-md-3">
      <img src="{{ item.snippet.thumbnails.medium.url }}" alt="" max-width="360" />
    </div>
    <div class="col-md-6">
      <p style="font-size: 18px;">{{ item.snippet.title }}</p>
      <p style="font-size: 13px; margin-top: -10px;">
        {{ item.snippet.channelTitle }}
      </p>
      <p style="font-size: 13px; margin-top: -10px;">
        {{ item.snippet.description }}
      </p>
    </div>
  </div>
</div>
<div class="text-center pt-5">
  <button type="button" class="btn btn-primary" (click)="onClickPage()">
    Hiển thị thêm
  </button>
</div>
<hr class="bg-dark" />
<div class="p-3 text-center">CopyRight by NGUYEN AN NGOC</div>